{
  "$schema": "http://json.schemastore.org/prettierrc",
  "requirePragma": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "semi": true,
  "tabWidth": 2
}
